body {
    background: #ffaa55;
    color: black;
    /*margin-left: 5%;
    margin-right: 5%; */
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 10pt;
    counter-reset: parts;
}

a { color:#5555DD; text-decoration: underline; }
a:hover { text-decoration: underline; }

.padded li { padding: 0pt 0pt 8pt 0pt; }
.padded li li { padding: 0pt; }

p.boxed  { 
    width: 80%;
    text-align: left;
    padding: 6pt; 
    border: 2pt solid black; 
}

tt {
    font-weight: bold;
    font-size: 105%;
    color: #DD6600;
    background: rgb(255, 255, 255);
}
tt:hover { background: #FFFF88; }
.typed, .typed * { color: #DD6600; }
/*
*/

strong {
    padding: 4px;
    font-size: 120%;
}

em {
    font-weight: bold;
    font-style: normal;
    color:#5555DD;
    background: rgb(255, 255, 255);
}

/*em:hover { background: #FFFFbb; } */


#top h1{ text-align: left; font-size: 20pt; }
/*#top h3{ text-align: left; text-decoration: none; font-size: small;} */
h1 { text-align: center; }
h1+p { text-align:center; }
h1 span.subtitle {font-size: 60%; font-weight: normal; display: block; }
h2 { font-size: 14pt}
h3 { font-size: 11pt;
     margin-bottom: -8pt; }
h4 { font-size: 10pt;
     margin-top: -2pt;
     margin-bottom: -8pt; }
/*h3 {
        text-decoration: underline;
        margin-bottom: -10pt;
}
	*/


#container {
    margin: auto;
    min-height: 42em;
    min-width: 45em;
    width: 94%;
    padding: 1em;
    padding-bottom: 0pt;
    background: #101010;
}
#top {
 /*   font-weight: bold; */
    padding: 1.5em;
    padding-bottom: .8em;
    padding-top: .8em;
    border-bottom: solid;
    border-width: 1em;
    border-color: #101010;
    background: rgb(246, 250, 249);
}

/* Trying out auto counting parts  - doesn't work on Safari, does on Firefox */
/*
h2:before { 
    content: "Part " counter(parts) " - "; 
    counter-increment: parts;
}
    */

.notice {
	background-color: #FFFFbb;
	color: #fd7073;
	font-size: 120%;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.float-right {
    float: right;
}

#footer {
}   

#handin {
    padding: 0 20px;
    border: thin solid black;
    background-color: #ededff;
} 

div.boxed {
    padding: 10px;
    border: thin solid black;
}

.highlight {
    background-color: #FFFFbb;
}

address { font-size: xx-small; font-style: normal; }

q.honor { color: #5555DD; 
          font-weight: bold;
          font-family: "Comic Sans", "Comic Sans MS", cursive;
        }

ol.alpha { list-style-type: upper-alpha; }

p { text-align: justify; }

@media print {
    body {
	background: rgb(246, 250, 249);
        color: #101010;
        font-size: 10pt;
        font-family: serif;
        /*
        margin-left: 5%;
        margin-right: 5%;
        font-family: serif;
        font-family: cursive;
         */
    }

    a, tt, .notice, #handin, em, q.honor, .typed, .typed *  {
        color:black;
	background-color: rgb(246, 250, 249);
    }

    .typed, .typed * {
        font-weight: bold;
    }

    tt { font-size: 100%; }

    a { text-decoration: underline; }

    p { text-align: justify; }
}

div#calgen {
/*    margin-left: -2em; */
    margin-right: -1em;
    margin-bottom: -1em;
}

/*
div#calgen table tr:hover { background-color: #bbccff; outline: solid red} 
 */
div#calgen table {
    border-collapse: collapse;
    /*
    background-color: #dddddd;
    */
}
div#calgen tr.odd {
}
div#calgen tr.even {
}
div#calgen  table td, 
div#calgen  table tr, 
div#calgen  table th {
    padding: 10px;
    border: thin solid black;
}
div#calgen  table th {
    border-bottom: 2px solid black;
    border-top: 2px solid black; /* to make up for the double */
    background-color: #ffffff;
}

/*div#calgen table tr:hover { background-color: #ffff00; } */
div#calgen table span.reading {font-weight: bold; text-align: center; display: block; vertical-align: bottom; }

/** Quizzes **/
div#calgen table span.quiz { display: block; padding:20px;  background-color: red; color:white; text-align:center; font-size:100%; }
div#calgen table span.quiz a,
div#calgen table span.quiz a:visited 
    { color: #8888ff; }
/* div#calgen table span.quiz a:hover { color:red; background-color: #8888ff; }*/

div#calgen table span.conference { display: block; padding:10px;  background-color: yellow; color:blue; border: thin blue solid; }